:root {
    --bgc: linear-gradient(90deg, #00B4DB -0.91%, #0083B0 100%);
    --wc: #ffffff;
    --cp: #a28b51;
    --lbc: #333333;
    --qs: #A7A7A7;
    --bgc: #efefef;

    --psb: #003552;
    --gc: #CCCCCC;
    --bp: #002336;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--lbc);
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: var(--lbc);
}
h2{
    font-weight: 900;
    font-size: 40px;
    color: var(--wc);
}
h3{
    font-weight: 500;
    font-size: 50px;
    color: var(--wc);
}
h4{
    font-weight: 600;
    font-size: 24px;
    color: var(--lbc);
}
h5{
    font-weight: 500;
    font-size: 20px;
    color: var(--psb);
}
h6{
    font-weight: 500;
    font-size: 18px;
    color: var(--psb);
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--pc);
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
}
.paragraph{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--dgc);
}
.small-text{
    font-weight: 400;
    font-size: 13px;
    color: var(--lbc);
}

.booking-btn .button{
    font-weight: 400;
    font-size: 16px;
    color: var(--wc);
    background: var(--cp);
    padding: 10px 15px;
    border-radius: 2px;
}

.readmore-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--wc);
    background: var(--bgc);
    padding: 20px 50px;
    border-radius: 50px;
    transition: 0.3s;
}
.readmore-btn:hover{
    color: var(--wc);
}

.submit-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background: var(--bgc);
    padding: 12px 20px;
    border-radius: 5px;
}
.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .4s;
    border-bottom: 1px solid var(--bgc);
    /* box-shadow: 3px 3px 10px 0px #33333396; */
}
