@import "default.css";

/*HEADER*/
header {
    background: var(--cp);
    transition: .4s;
}
.logo img {
    max-width: 170px;
}
.logo i {
    font-size: 20px;
    padding: 8px;
    transition: .2s;
    border: 2px solid var(--cp);
    border-radius: 5px;
}
.logo i:hover {
    color: var(--sc);
    cursor: pointer;
}
.menubar ul {
    text-align: left;
}
.menubar ul li {
    display: inline-block;
}
.menubar ul li {
    padding: 14px 0px;
}
.menubar ul li a {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 15px;
    color: var(--wc);
}
.menubar .login-menu {
    color: var(--wc);
    border-radius: 5px;
    border: 1px solid var(--wc);
    line-height: 25px;
}
/*HEADER*/

/*MOBILE MENU*/

/*ACCORDION CUSTOM*/
.mobile-logo img {
    width: 150px;
    padding: 10px 0;
    margin-left: 10px;
}
.mobile-logo i {
    font-size: 20px;
    color: var(--pc);
    cursor: pointer;
    border: 1px solid var(--cp);
    height: 28px;
    width: 28px;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
}
.mobile-logo i:hover {
    color: var(--sc);
}
.custom.accordion-button {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s;
    color: var(--cp);
    font-weight: 400;
}
.custom.accordion-button:hover {
    color: var(--cp);
}
.custom.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-top: 1px solid #ccc;

}
.custom.accordion-button:not(.collapsed) {
    color: var(--sc);
    background: var(--rc);
    -webkit-transform: none;
    transform: none;
    font-weight: 400;
}
.custom.accordion-button:not(.collapsed)::after {
    background-image: none;
    content: "\f068";
    font-family: 'FontAwesome';
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.none.accordion-button:not(.collapsed)::after {
    content: none;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important;
}
.custom.accordion-button::after {
    background-image: none;
    content: "\f067";
    font-family: 'FontAwesome';
}
.none.accordion-button::after {
    content: none;
}
.custom.accordion-body {
    padding: 0 0px;
}
.custom.accordion-body ul {
    padding: 0;
    margin: 0;
}
.custom.accordion-body ul li {
    list-style: none;
    padding: 8px 0;
    -webkit-transition: .4s;
    transition: .4s;
}
.custom.accordion-body ul li a {
    text-decoration: none;
    font-size: 15px;
    text-transform: capitalize;
    color: var(--pc);
    font-weight: 400;
    display: inline-block;
    margin-left: 40px;
}
.custom.accordion-body ul li a i {
    font-size: 10px;
    margin-right: 5px;
}
.custom.accordion-body ul li:hover {
    color: var(--wc);
    background: var(--rc);
}
.custom.accordion-body ul li:hover a {
    color: var(--sc);
}
.custom.accordion-item a {
    text-decoration: none;

}
.accordion-button.custom i {
    padding: 0 10px;
}
/*ACCORDION CUSTOM END*/
.mobile-menu {
    width: 350px;
    position: fixed;
    left: -380px;
    top: 0;
    z-index: 2;
    background: var(--wc);
    height: 100%;
    overflow: auto;
    transition: .4s;
    padding: 10px 0;
}

#mobileOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    background: rgba(101, 41, 145, 0.71);
    z-index: 1;
    cursor: pointer;
}

.mobileAdd {
    left: 0 !important;
}

.mobile-overlay {
    position: inherit !important;
}
/*MOBILE MENU END*/
.top-menu .location{
    margin-bottom: -7px;
}
.top-menu i{
    font-size: 18px;
    color: var(--qs);
}

/* BANNER PART CSS START */
.carousel-item {
    max-height: 650px;
    background-position: center;
}
/* BANNER PART CSS END */

/* ABOUT GRAND SYLHET HOTEL CSS START */
#about{
    background: var(--bgc);
    height: 640px;
}

.aboutus-img{
    position: relative;
}

.long-img {
    position: absolute;
    left: 100px;
    top: 0px;
}
.long-img img{
    width: 350px;
    height: 500px;
}

.circle-img {
    position: absolute;
    top: 230px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid var(--wc);
}

.circle-img img {
    position: absolute;
    border-radius: 50%;
    width: 285px;
    height: 285px;
    top: 5px;
    left: 6px;
}
/* ABOUT GRAND SYLHET HOTEL CSS END */

/* AMENITIES PART CSS START */
.section-header h3{
    position: relative;
}
.section-header h3::after {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 36px;
    width: 60px;
    height: 3px;
    background: var(--cp);
    border-radius: 3px;
    content: '';
}

.amenities-item i{
    font-size: 32px;
    color: #525252;
}
/* AMENITIES PART CSS END */

/* ROOM PART CSS START */
.room-img{
    background-image: url(../img/photos/room-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}
/* ROOM PART CSS END */


/* FETURE SECTION */

/* .feture-box{
    background-image: linear-gradient(#0000666b, #0000666b), url(../img/image/hotel1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
} */
.feture-box {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.feture-box .feture-overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.feture-box .feture-overlay2{
    background: #99660091;
    padding: 10px;
    border-radius: 5px;
}
.feture-box h4{
    color: var(--wc);
    text-align: center;
    font-size: 30px;
    padding: 10px;
    /* border-bottom: 2px solid var(--wc); */
}
.feture-box img{
    width: 100%;
}
.feture-box h4::after{
    content: '';
    display: block;
    height: 2px;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    background: var(--wc);
}
.feture-box h6{
    color: var(--wc);
    text-align: center;
    font-size: 22px;
}
.feture-box p{
    color: var(--wc);
    text-align: center;
    line-height: 28px;
    /* display: none; */
}
.feture-overlay2 p{
    opacity: 0;
    position: absolute;
    top: 0;
}
.feture-box:hover .feture-overlay2 p{
    opacity: 1;
    position: inherit;
    transition: .4s;
}

/* FETURE SECTION */












/*FOOTER SECTION*/
.footer-part {
    background: var(--lbc);
}
.footer-part .left p{
    line-height: 24px;
    color: var(--wc);
    font-weight: 300;
    font-size: 18px;
}
.footer-part .left .paragraph{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #F5F5F5;
}
.footer-part .left .input-group .form-control{
    height: 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #797979;
    border-radius: 8px;
}
.footer-part .left .input-group button{
    background: var(--bgc);
    color: var(--wc);
    border-radius: 8px;
}
hr.footer{
    height: 1px;
    background: var(--qs);
}

.footer-part .middle .paragraph{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #F5F5F5;
}
.footer-part .middle h6{
    line-height: 24px;
    font-weight: 400;
    font-size: 18px;
    color: var(--wc);
}
.footer-part .middle .footer-manu li{
    text-align: center;
    line-height: 30px;
    list-style-type: none;
    width: 30px;
    height: 30px;
    border: 1px solid var(--wc);
    border-radius: 50px;
    transition: 0.3s;
}
.footer-part .middle .footer-manu li i{
    color: var(--wc);
    font-size: 14px;
}
.footer-part .middle .footer-manu li:hover{
    background: var(--bgc);
}
.footer-part .right .paragraph{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: #F5F5F5;
}
.footer-part .right a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--wc);
}
.footer-logo img {
    width: 50%;
}
.footer-logo a{
    width: 100%;
}
.footer-social a i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    background: var(--wc);
    color: var(--cp);
    border-radius: 50%;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid var(--wc);
    transition: .3s;
}
.footer-social a i:hover{
    background: var(--cp);
    color: var(--wc);
}
.footer-about{
    padding: 20px 0;
}
.footer-about p{
    margin: 0;
    font-size: 15px;
    color: var(--wc);
    line-height: 27px;
}
.footer-location ul li{
    position: relative;
    padding-left: 40px;
    padding-bottom: 15px;
    color: var(--wc);
    font-size: 15px;
}
.footer-location ul li i{
    position: absolute;
    left: 0;
    font-size: 20px;
    color: var(--wc);
    top: 5px;
}
.footer-social h6{
    font-size: 16px;
    color: var(--wc);
    padding-bottom: 5px;
}
.footer-form-box{
    position: relative;
}
.footer-form-box input{
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    outline: none;
}

.footer-form-box button{
    position: absolute;
    right: 0;
    top: 0;
    background: var(--cp);
    height: 100%;
    border: 1px solid var(--wc);
    color: var(--wc);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: .3s;
}
.footer-form-box button:hover{
    background: var(--wc);
    color: var(--cp);
    border-left: 1px solid var(--cp);
}
.footer-main h4{
    font-size: 22px;
    color: var(--wc);
}
.footer-main h4::after{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #cccccc;
    margin-top: 15px;
}
.footer-link ul li a{
    color: #ffffff;
    font-size: 15px;
    transition: .4s;
}
.footer-link ul li a i{
    font-size: 14px;
}
.footer-link ul li a:hover{
    color:#cccccc;
    padding-left: 2px;
}
/* FOOTER PART END */

/* COPYRIGHT */
.copyright{
    background: var(--lbc);
    color: var(--wc);
}
.copyright-container{
    border-top: 1px solid #cccccc;
}
.copyright p{
    color: var(--wc);
}
.copyright ul li a{
    font-size: 15px;
}
.copyright ul li a:hover{
    color: #cccccc;
}
/* COPYRIGHT END */


/* ========================================
    Service Page Design CSS 
======================================== */
.pages-banner{
    background-image: url(../img/image/service-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.pages-banner-overlay{
    background: #39004e00;
}
.pages-banner-content h4{
    color: var(--wc);
}
.pages-banner-content .paragraph{
    color: var(--wc);
}
.pages-banner-content .paragraph a:hover{
    color: var(--dc);
}













